ALPHA_VANTAGE_API_KEY=your_key_here
AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_key_here
AWS_REGION=us-east-1
S3_BUCKET=macrolens
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=macrolens
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres